{% extends "blog_app/base.html" %}

{% block content %}
    <h1>About this Project</h1>
    <p class="article-content">

        I am an experienced Software Engineer with several years of building
        software solutions. I started building this project from scratch with 
        Django and other technologies and frameworks so that I can cement my skills
        and low-level understanding of the working of mordern solutions.

        The site has many functionality and still adding with an aim to make
        a fully production site that is scalable and reliable. Some of the features
        include user authentucation, validataions,
        security, needs based customizations, and user-friendly UI.

        The current site you are on is made with Django Framework from Python, 
        SQLite as the Models database, and manually deployed and configured with
        Apache2 which is on linux server hosted on a VPS.

        I have made also variations of the same site where I have used other
        frameworks like Flask, Node.js, and React. Used PostgreSQL, MySQL, and MongoDB
        I have also deployed on other servers in different cloud solutions like 
        AWS and Heroku.

    </p>
{% endblock content %}